<tr>
<td>
  <%= request.method %>
</td>
<td>
  <%= request.remote_ip %>
</td>
<td>
  <%= request.scheme %>
</td>
<td>
  <%= request.params %>
</td>
<td>
  <%= request.request_env %>
</td>
<td>
	<%= request.headers %>
</td>
<td>
  <%= request.cookies %>
</td>
<td><%= request.created_at %></td>
<td><%= link_to 'Destroy request',
 [request.trap, request],
  method: :delete,
   data: {confirm: 'Are you sure?'} %>
</td>
</tr>