 <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
 <script>
  console.log("loaded");
      var pusher = new Pusher('86987ac565e812024804', {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('new-request', function(data) {
      //console.log('You did it');
      location.reload(true);
        //$('#requests').append();
    });
      
 </script>
 <p id="notice"><%= notice %></p>
<% if @requests.any? %>
  <p><%= @requests.first.trap_id %></p>
<% end %>
<h1>Requests</h1>

<table>
  <thead>
    <tr>
    <th><strong>Method:</strong></th>
    <th>Ip:</th>
    <th>Scheme:</th>
    <th>Params:</th>
    <!-- <th>Enviroment:</th> -->
    <th>Headers:</th>
    <th>Cookies:</th>
    <th>Time:</th>
    </tr>
  </thead>

  <tbody id='requests'>
    <% @requests.each do |request| %>
      <tr>
<td>
  <%= request.method %>
</td>
<td>
  <%= request.remote_ip %>
</td>
<td>
  <%= request.scheme %>
</td>
<td>
  <%= request.params %>
</td>
<!-- <td>
  <%= request.request_env %>
</td> -->
<td>
  <%= request.headers %>
</td>
<td>
  <%= request.cookies %>
</td>
<td><%= request.created_at %></td>
<td><%= link_to 'Show', request_path(request.trap, request) %></td>
<td><%= link_to 'Destroy request', destroy_request_path(request.trap, request),
 method: :delete,
   data: {confirm: 'Are you sure?'} %>
</td>
</tr>
    <% end %>
  </tbody>
</table>

<br>

