<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p id="notice"><%= notice %></p>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#time" aria-controls="time">Time</a></div>
				<div class="panel-body collapse in" aria-expanded=true  id="time" ><%= @request.created_at.strftime("%F %T") %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#method" aria-controls="method">Method</a></div>
				<div class="panel-body collapse in" aria-expanded=true  id="method" ><%= @request.method %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#ip"  aria-controls="ip">Remote ip</a></div>
				<div class="panel-body collapse in" aria-expanded=true id="ip" ><%= @request.remote_ip %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#scheme" aria-expanded="false" aria-controls="scheme">Request scheme</a></div>
				<div class="panel-body collapse in" aria-expanded=true id="scheme"><%= @request.scheme %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#params" aria-expanded="false" aria-controls="params">Params</a></div>
				<div class="panel-body collapse in" aria-expanded=true id="params"><%= @request.params %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#env" aria-expanded="false" aria-controls="env">Enviroment</a></div>
				<div class="panel-body collapse" aria-expanded=false id="env"><%= @request.request_env %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#headers" aria-expanded="false" aria-controls="headers">Headers</a></div>
				<div class="panel-body collapse in" aria-expanded=true id="headers"><%= @request.headers %></div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><a role="button" data-toggle="collapse" href="#cookies" aria-expanded="false" aria-controls="cookies">Cookies</a></div>
				<div class="panel-body collapse in" aria-expanded=true id="cookies"><%= @request.cookies %></div>
			</div>
			<p>
				<strong>Trap:</strong>
				<%= @request.trap_id %>
			</p>
			<%= link_to 'Back', trap_path, class: "btn btn-danger" %>
		</div>
	</div>
</div>



