<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @request.request %>
</p>

<p>
  <strong>Trap:</strong>
  <%= @request.trap_id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
