<p id="notice"><%= notice %></p>

<p>
  <%= @request.method %>
</p>
<p>
  <%= @request.remote_ip %>
</p>
<p>
  <%= @request.scheme %>
</p>
<p>
  <%= @request.params %>
</p>
<p>
  <%= @request.request_env %>
</p> 
<p>
  <%= @request.headers %>
</p>
<p>
  <%= @request.cookies %>
</p>

<p>
  <strong>Trap:</strong>
  <%= @request.trap_id %>
</p>

<%= link_to 'Back', trap_path %>
