<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trap.id %>
</p>
<br>
<br>
<%= link_to 'Edit', edit_trap_path(@trap) %> |
<%= link_to 'Back', traps_path %>
<table id="requests">
	<tr>
		<th><strong>Method:</strong></th>
		<th>Ip:</th><th>Scheme:</th>
		<th>Params:</th>
		<th>Enviroment:</th>
		<th>Headers:</th>
		<th>Cookies:</th>
		<th>Time:</th>
	</tr>	
		<%= render @trap.requests %>
</table>

